* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0B101D;
}

/* =================HERO============= */
.hero {
    text-align: center;
}

.logo img {
    width: 120px;
    margin-top: 20px;
}

.hero-text h2 {
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    margin-top: 70px;
}

.hero-text p {
    font-weight: 400;
    font-size: 14px;
    color: #B5BED5;
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

.hero>button {
    background: linear-gradient(87.75deg, #3772FF 1.89%, #6089ED 96.74%);
    border-radius: 5px;
    font-size: 12px;
    padding: 12px 20px;
    color: #fff;
    border: none;
    width: 200px;
    margin-top: 30px;
}

.waiting-list {
    background: #0B101D;
    box-shadow: 5px 24px 48px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    border-radius: 30px;
    border: 1px solid;
    box-shadow: 5px 24px 48px 0px #00000040;
    border: 1px solid #3772FF;
    padding: 40px;
    margin: 170px auto;
    text-align: center;
    width: 800px;
}

.waiting-list h4 {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.waiting-list p {
    color: #B5BED5;
    font-size: 12px;
    width: 250px;
    margin: 10px auto 20px;
}

.input {
    width: 500px;
    height: 50px;
    background: linear-gradient(87.75deg, #0B101D 1.89%, #172038 96.74%);
    border: 1px solid rgba(157, 165, 178, 0.17);
    border-radius: 10px;
    margin: auto;
}

.input select {
    width: 15%;
    height: 100%;
    border: none;
    background: rgba(91, 100, 116, 0.06);
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.input input {
    cursor: text;
    outline: none;
    padding: 10px;
    height: 100%;
    border: none;
    width: 85%;
    border-radius: 0 10px 10px 0;
    caret-color: #fff;
    color: #fff;
}

.waiting-list button {
    background: linear-gradient(87.75deg, #3772FF 1.89%, #6089ED 96.74%);
    border-radius: 5px;
    font-size: 12px;
    padding: 12px 20px;
    color: #fff;
    border: none;
    width: 120px;
    margin: 30px;
    cursor: pointer;
}

.waiting-list button img {
    background-color: transparent;
    height: 10px;
    margin-left: 15px;
}

.socials img {
    height: 22px;
    cursor: pointer;
    margin-right: 30px;
}

/* =================ECOSYSTEM============= */
.ecosystem {
    text-align: center;
    padding: 40px 0;
}

.ecosystem span {
    background: linear-gradient(87.75deg, #3772FF 1.89%, #6089ED 96.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 14px;
    font-weight: 700;
}

.ecosystem h3 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    height: 30px;
    margin: 20px 0;
}

.ecosystem h3 img {
    margin-right: 15px;
}

.ecosystem p {
    font-weight: 400;
    font-size: 14px;
    color: #B5BED5;
    line-height: 20px;
    width: 600px;
    margin: auto;
    margin-top: 25px;
}

.eco {
    position: relative;
}

.eco-p p {
    width: 100px;
    font-size: 10px;
    background-color: transparent;
}

.eco-p p:nth-child(1) {
    width: 90px;
    line-height: 15px;
    position: absolute;
    top: 135px;
    left: 450px
}

.eco-p p:nth-child(2) {
    position: absolute;
    top: 135px;
    right: 450px
}

.eco-p p:nth-child(3) {
    position: absolute;
    top: 380px;
    left: 450px
}

.eco-p p:nth-child(4) {
    position: absolute;
    top: 380px;
    right: 450px
}

.eco-p {
    top: 200px;
}

.eco img {
    margin: 100px 0;
    height: 300px;
}


/* =================REWARDS============= */
.rewards h3 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

.rewards h3 img {
    margin-right: 15px;
    height: 30px;
}

.rewards p {
    font-weight: 400;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}

.curves {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.curves img {
    width: 250px;
}

.curves img:nth-child(1) {
    position: absolute;
    top: -70px;
    left: 240px;
}

.curves img:nth-child(2) {
    position: absolute;
    top: -70px;
    right: 240px;
}

.huge-top p {
    color: #B5BED5;
    text-align: center;
    width: 250px
}

.huge-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(11, 16, 29, 0.05);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 2px solid #3772FF;
    border-radius: 25px;
    padding: 15px 10px 25px;
    width: 300px;
    margin-top: 125px;
}

.step2 {
    margin: 30px 50px 0;
}

.card img {
    height: 60px;
}

.card h4 {
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    color: #fff;
    font: 12px;
}

.join {
    margin: auto;
    margin-top: 200px;
    background: rgba(11, 16, 29, 0.05);
    box-shadow: 5px 24px 48px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    border: 2px solid #3772FF;
    padding: 30px;
    text-align: center;
    width: 800px;
}

.join p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 570px;
}

.join button {
    background: linear-gradient(87.75deg, #3772FF 1.89%, #6089ED 96.74%);
    border-radius: 5px;
    font-size: 12px;
    padding: 12px 20px;
    color: #fff;
    border: none;
    margin: 30px auto;
    cursor: pointer;
    width: 200px;
}

.rewards>button {
    background: linear-gradient(87.75deg, #3772FF 1.89%, #6089ED 96.74%);
    border-radius: 5px;
    font-size: 12px;
    padding: 12px 20px;
    color: #fff;
    border: none;
    margin: 100px auto 50px;
    cursor: pointer;
    width: 300px;
    display: flex;
    justify-content: center;
}

/* =================FOOTER============= */
footer {
    padding: 20px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
}

.footer-top>img {
    width: 500px;
}

.footer-text {
    margin: auto;
}

.footer-text h3 {
    width: 200px;
    color: #fff;
}

.footer-text p {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #9BA5B2;
    margin: 18px 0;
}

.footer-btn button {
    padding: 12px 10px;
    font-size: 12px;
    width: 200px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.footer-btn button:nth-child(1) {
    background-color: #fff;
    border: 2px solid #07000D;
    color: #07000D;
    margin-right: 10px;
}

.footer-btn button:nth-child(2) {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}

.footer-btn button img {
    height: 15px;
    margin-right: 10px;
    background-color: transparent;
}

.footer-bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bottom-t {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.257143px;
    color: #FFFFFF;
    margin: 20px 0;
}

.footer-socials {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 300px;
    margin-top: 30px;
    margin-left: -150px;
}

.footer-socials img {
    cursor: pointer;
    border: none;
    padding: 0;
}

#pp {
    padding-left: 5px;
}

#tp {
    margin-top: -5px;
}


@media screen and (max-width: 768px) {
    .logo img {
        width: 80px;
        margin-top: 20px;
    }

    .hero-text p {
        width: 550px;
    }

    .hero-text h2,
    .ecosystem h3,
    .rewards h3 {
        font-size: 22px;
    }

    .waiting-list {
        padding: 40px;
        margin: 130px auto;
        text-align: center;
        width: 500px;
    }

    .input {
        width: 400px;
        margin-top: 40px;
    }



    .ecosystem h3 img,
    .rewards h3 img {
        height: 20px;
    }

    .ecosystem p {
        width: 550px;
    }
    
    .eco img {
        height: 250px;
    }
    .eco-p p{
        width: 100px;

    }
    .eco-p p:nth-child(1) {
        width: 90px;
        line-height: 15px;
        position: absolute;
        top: 120px;
        left: 240px
    }

    .eco-p p:nth-child(2) {
        position: absolute;
        top: 120px;
        right: 235px
    }

    .eco-p p:nth-child(3) {
        position: absolute;
        top: 330px;
        left: 240px
    }

    .eco-p p:nth-child(4) {
        position: absolute;
        top: 330px;
        right: 235px
    }

    .curves img {
        width: 200px;
    }
    .curves img:nth-child(1) {
        position: absolute;
        top: -55px;
        left: 32px;
    }
    
    .curves img:nth-child(2) {
        position: absolute;
        top: -55px;
        right: 32px;
    }

    .huge-cards {
        justify-content: space-around;
    }

    .card {
        margin-top: 30px;
        width: 220px;
        padding: 15px;
        margin-top: 100px;
    }

    .card img {
        height: 40px;
    }

    .card h4 {
        font-size: 16px;
    }

    .card p {
        font-size: 11px;
    }

    .step2 {
        margin: 30px 5px;
    }

    .join {
        margin-top: 150px;
        padding: 30px;
        width: 600px;
    }

    .join p {
        width: auto;
        font-size: 16px;
    }

    .rewards>button {
        width: 200px;
        margin-bottom: 20px;
    }

    .footer-top {
        margin: 30px auto;
        width: auto;
    }

    .footer-top>img {
        width: 200px;
    }

    .footer-text {
        text-align: center;
    }

    .footer-text h3,
    .footer-text p {
        width: 200px;
        text-align: left;
    }

    .footer-btn button {
        padding: 10px;
        font-size: 10px;
        width: 170px;
    }


    .footer-socials {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        width: 300px;
        margin-left: 30px;
    }

}
@media screen and (max-width: 375px) {
    .logo img {
        width: 80px;
        margin-top: 20px;
    }

    .hero-text p {
        width: 250px;
    }

    .hero-text h2,
    .ecosystem h3,
    .rewards h3 {
        font-size: 22px;
    }

    .waiting-list {
        padding: 40px;
        margin: 130px auto;
        text-align: center;
        width: 330px;
    }

    .input {
        width: 250px;
        margin-top: 40px;
    }

    .socials img {
        height: 18px;
        margin-right: 15px;
    }


    .ecosystem h3 img,
    .rewards h3 img {
        height: 20px;
    }

    .ecosystem p {
        width: 350px;
    }
    
    .eco img {
        height: 250px;
    }
    .eco-p p{
        width: 100px;

    }
    .eco-p p:nth-child(1) {
        width: 90px;
        line-height: 15px;
        position: absolute;
        top: 120px;
        left: 45px
    }

    .eco-p p:nth-child(2) {
        position: absolute;
        top: 120px;
        left: 235px
    }

    .eco-p p:nth-child(3) {
        position: absolute;
        top: 330px;
        left: 45px
    }

    .eco-p p:nth-child(4) {
        position: absolute;
        top: 330px;
        left: 235px
    }

    .curves {
        display: none;
    }

    .huge-cards {
        flex-direction: column;
    }

    .card {
        margin-top: 30px;
        width: 250px;
        padding: 15px;
    }

    .card img {
        height: 40px;
    }

    .card h4 {
        font-size: 16px;
    }

    .card p {
        font-size: 11px;
    }

    .step2 {
        margin: 30px 0 0;
    }

    .join {
        margin-top: 150px;
        padding: 30px;
        width: 300px;
    }

    .join p {
        width: auto;
        font-size: 16px;
    }

    .rewards>button {
        width: 200px;
        margin-bottom: 20px;
    }

    .footer-top {
        flex-direction: column-reverse;
        margin: auto;
        width: auto;
    }

    .footer-top>img {
        width: 200px;
    }

    .footer-text {
        text-align: center;
    }

    .footer-text h3,
    .footer-text p {
        width: 300px;
        text-align: center;
    }

    .footer-btn button {
        padding: 10px;
        font-size: 10px;
        width: 170px;
    }

    .footer-btn button:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .footer-socials {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        width: 300px;
        margin-left: 30px;
    }

}